@import "../../assets/sharedStyles/breakpoints";

.project-detail-container {
  display: flex;
  flex-direction: column;
  width: 85vw;
  padding: 30px;
}

.loading {
  width: 100vw;
  height: 1000vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.project-detail-quoted {
  margin: 0 0 20px 0;
  h3{
    color: #0eb6a8;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 1rem;
    margin: 0 0 0 0;
  }
  h4, p {
    color: #484848;
  }
  h4{ 
    margin: 15px 0 15px 0;
  }
  p{
    margin:0 0 0 0;
  }
}

.display-details{
  h3{
    color: #0eb6a8;
    font-size: 1.3rem;
    text-transform: uppercase;
    font-weight: 800;
  }

  h4, p {
    color: #484848;
  }

  h4{ 
    margin: 10px 0 10px 0;
  }
  p{
    margin:0 0 0 0;
  }
}
