.ProNav {
    background:#d1f2ee;
    height: 80px;
    display: flex;
    justify-content: space-between;
    width: 100vw;
    align-items: center;
}

.ProNav-mobile {
    height: 80px;
}

.ProNav-Conditional {
    display: flex;
    justify-content: flex-end;
    width: 70vw;
    align-items: center;
    padding: 0 30px 0 0;
}

.ProNav a, .ProNav p {
    font-size: 0.8rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 800;
    text-decoration: none;
    color: #0eb6a8;
    margin: 0 10px 0 10px;
}

.ProNav a:hover, .ProNav p:hover {
    color: #484848;
}

.ProNav img {
    height: 50px;
    margin: 0 0 0 30px;
    width: auto;
}

.bm-burger-button {
    height: 45px;
    width: 45px;
    position: absolute;
    margin-bottom: 200px;
    right: 20px;
    top: 20px;
}

.bm-cross-button {
    height: 25px;
    width: 25px;
}

.logo-mobile {
    left: 20px;
    top: 20px;
    position: absolute;
    width: 100px;
    height: auto;
  }
  
  .bm-morph-shape {
    fill: #484848;
  }

  .bm-item {
    display: inline-block;
    margin: 50px 20px;
    color: white;
    text-decoration: none;
    font-weight: 800;
    text-transform: uppercase;
  }

  .bm-item-list {
    color: #b8b7ad;
    padding: 30px;
margin-top: 100px;
  }