.CusPro {
    display: flex;
    flex-direction: row;

}

.CusProBox {
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 150px;
    box-shadow: 1px 1px 1px#999999;
    border-radius: 10px;
    margin: 0 5px 0 5px;
}

.CusProBox > button {
    backgronud: #E6F5C3;
    color: white;
}