.customer-container {
  width: 100vw;
  height: 100vh;
  background-color: #ffe1d9;
  h1 {
    color: white;
    margin-top: 0;
  }
  display: flex;
  justify-content: center;
  align-items: center;
}

.customer-form {
  height: 50vh;
  background-color: white;
  box-shadow: 2px 2px #e95e39;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  width: 300px;
  justify-content: space-evenly;
  align-items: center;
  input {
    margin: 5px 5px;
    height: 25px;
    border: none;
    border-bottom: 1px solid #e95e39;
    width: 70%;
  }
  input:focus {
    height: 40px;
  }
}
