.QuotesLargeContainer {
    height: 100vh;
    width: 86vw;
    background: #F8FAFB;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0 0 30px;
    border-radius: 7px
}

.QuotesProjectContainer {
    text-align: center;
    width: 350px;
    h2 {
        color: #087285;
        font-size: 1.5rem;
    }
    p{ 
        color: #333333;
        font-weight: 300;
        letter-spacing: 0.5px;
    }

}

.QuotesContainer {
    background: white;
    border-radius: 7px;
    width: 90vw;
    border:rgba(132, 193, 201, 0.5) solid 1px;
    margin: 10px 0 0 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    h3 {
        text-transform: uppercase;
        font-size: 0.9rem;
        margin: 15px 0 10px 0;
        color: #333333;
    }
    p{
        margin: 0 0 10px 0;
        font-size: 0.9rem;
        color: #333333;
    }
    button{
        font-size: 0.7rem;
        text-transform: uppercase;
        border-radius: 7px;
        background: #087285;
        color:white;
        padding: 7px 20px;
        font-weight: 600; 
    }
}

.QuotesContainerColRow {
    width: 200px;
}