.selection {
  margin-left: 20px;
  border: none;
  -webkit-appearance: none;
  background-color: white;
  font-size: 3rem;
  cursor: pointer;
  // text-shadow: 3px 3px 0px rgba(0,0,0,0.2);
  color: #3bc9db;
  font-weight: bold;
  font-weight: 800;
}

.home button {
  background: #087285;
  border-radius: 10px;
  padding: 10px 10px;
  border: none;
  font-size: 0.8rem;
  color: white;
  font-weight: 800;
  width: 200px;
  text-transform: uppercase;
}

.home-container {
  background: rgb(255, 255, 255);
  background: linear-gradient(
    rgba(255, 255, 255, 1) 0%,
    rgba(250, 250, 250, 1) 78%,
    rgba(166, 228, 238, 1) 92%,
    rgba(0, 212, 255, 1) 100%
  );
  width: 100vw;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  h1 {
    font-weight: 800;
    text-indent: 20px;
  }
}

.text-container{
  color: #484848;
  margin-top: -80px;
}