@import "./../assets/sharedStyles/breakpoints";

.prosignup-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.prosignup-form {
  margin-top: -100px;
  display: flex;
  flex-direction: column;
  width: 70%;
  box-shadow: #087285 0.5px 0.5px 0.5px 0.5px;
  border: 1px solid #087285;
  height: 60%;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  font-weight: bold;
  color: #484848;
  @include breakpoint(medium) {
    width: 40%;
  }
  @include breakpoint(large) {
    width: 30%;
  }
  @include breakpoint(xlarge) {
    width: 25%;
  }

  input{
    border: 1px solid #087285;
    border-radius: 3px;
    margin: 10px 0px;
    height: 25px;
  }

  select{
    border: 1px solid green;
    border-radius: 3px;
    margin: 10px 0px;
    height: 25px;
    width: 50%;
  }

  button {
    width: 80%;
    height: 30px;
    background-color: #087285;
    border-radius: 5px;
    margin: 20px 0px;
    color: white;
    font-weight: bold;
  }
}

.signup-input {
  display: flex;
  flex-direction: column;
  width: 80%;
}

.signup-input-name {
  display: flex;
  width: 80%;
  input {
    width: 95%;
  }
}
