.home {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  flex-direction: row;
  background: #E6F5C3;
}

.home h1 {
  width: 70%;
  color:#333333;
  font-size: 4rem;

  font-weight: 800;
}

.selection {
  margin-left: 20px;
  border: none;
  -webkit-appearance: none;
  background-color:#E6F5C3;
  font-size: 4rem;
  cursor: pointer;
text-shadow: 3px 3px 0px rgba(0,0,0,0.2);
  color: white;
  font-weight: bold;

  font-weight: 800;
}

.home button {
  background: white;
  border-radius: 10px;
  border: black 1px solid;
  padding: 10px 10px;
  font-size: 1rem;
  text-shadow: -0.5px 0 black, 0 0.5px black, 0.5px 0 black, 0 -0.5px black;
  color: white;
  font-weight: 800;
}