@import "../../assets/sharedStyles/breakpoints";

.pro-project-container {
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100vw;
}

.project-side-bar {
  display: flex;
  flex-direction: column;
  width: 33%;
  border-right: 1px solid #9999;
  align-items: center;
  overflow: scroll;
}

.side-bar-item {
  width: 80%;
  border: 1px #d0f1ed solid;
  margin: 10px 0px;
  padding: 15px 20px 0 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  height: 150px;
  h3 {
    font-weight: 700;
    color: #0eb6a8;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 800;
    margin: 10px 0 0 0;
  }
  p {
    color: #484848;
    font-size: 0.95rem;
  }
  span {
    font-weight: 700;
  }
}

.project-mobile {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  align-items: center;
}

.project-mobile-item {
  display: flex;
  flex-direction: column;
  margin: 10px 10px;
  border: 1px #eff0f1 solid;
  padding: 10px;
  border-radius: 5px;
  height: 15%;
  width: 80%;
  h3 {
    font-weight: 700;
    color: #0eb6a8;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 800;
    margin: 10px 0 10px 10px;
  }
  p {
    color: #484848;
    font-size: 0.95rem;
    margin: 10px 0 0 10px;
  }
  span {
    font-weight: 700;
  }
}

.project-detail-button {
  border: 1px #0eb6a8 solid;
  background-color: #0eb6a8;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  width: 150px;
  height: 30px;
  font-weight: bold;
  text-decoration: none;
  line-height: 30px;
  text-align: center;
  font-size: 0.8rem;
  @include breakpoint(small) {
    width: 120px;
    font-size: 0.8rem;
  }
  @include breakpoint(medium) {
    width: 120px;
    font-size: 0.8rem;
  }
}

.avatar-img{
  height: 40px;
}
.side-bar-img-container{
  display: flex;
  height: 100%;
  justify-content: space-between;
  align-items: center;
  padding:10px
}